# Tuples

In [1]:
#tuples works just like a list 
#tuples are immutable while lists are mutable
#can't be altered or appended or added or deleted
myTupple = (1,2,3,4,5,6,7,8,9)
print(myTupple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
print(myTupple[4])
print(myTupple[1:4])

5
(2, 3, 4)

In [4]:
# del myTupple[3]  --- this method is not supported in tuples
#

In [8]:
print(myTupple.count(3))
print(myTupple.index(5))

1
4

In [ ]:
# Packing 
cities = ("khi","lhr","multan") 
# putting many values in a single variable is called packing.
# We do packing in lists, tuples etc.
#Unpacking
largest,bigger,small = cities
# unpacking requires same no. of variable as no. of elements in list/tuples
print(largest)
print(bigger)
print(small)

In [15]:
# we can change in unpacked variables
largest = "Balochistan"
print(largest)

Balochistan

In [16]:
alist = [15,16,17] # packing
fifteen,sixteen,seventeen = alist
print(fifteen,sixteen,seventeen)

15 16 17

# FOR Loops

In [28]:
# loops are for iteration/repetition
# if something is to be done again and again we use loops...
# for example task == print your name 10 times
# how fast your code gets executed ... less no. of lines in code
# less time complexity and efficient code

In [29]:
name = ["karachi","Lahore","Islamabad","Multan"]
print("first method : \n")
for var in name:
    print(var)

first method :

karachi
Lahore
Islamabad
Multan

In [30]:
print("\nsecond method : \n")
# we can also use the range funtion here ---
for vari in range(len(name)):
    print(name[vari])

second method :

karachi
Lahore
Islamabad
Multan

In [31]:
print("\nname task : \n")
for a in range(10): # ending point is (n-1)
    print("Hasham "+ str(a))

name task :

Hasham 0
Hasham 1
Hasham 2
Hasham 3
Hasham 4
Hasham 5
Hasham 6
Hasham 7
Hasham 8
Hasham 9

In [36]:
print("\nname task (custom-index) : \n")
for a in range(5,10): # ending point is (n-1)
    print("Hasham "+ str(a))

name task (custom-index) :

Hasham 5
Hasham 6
Hasham 7
Hasham 8
Hasham 9

In [37]:
print("\nname task (step-funtion): \n")
for a in range(0,10,2): # ending point is (n-1)
    print("Hasham "+ str(a))

name task (step-funtion):

Hasham 0
Hasham 2
Hasham 4
Hasham 6
Hasham 8

In [44]:
# for loops (start, end-1, step)
for b in range(10,0,2):
    print(b)
    # this will not print anything bcz the range is wrong given
    #and the steps given are in positive
for c in range(10,0,-1):
    print(c)

10
9
8
7
6
5
4
3
2
1

In [45]:
myList = ["hasham","maaz","mariam","Midha"]
for friend in myList:
    print(friend)

hasham
maaz
mariam
Midha

In [49]:
for char in "Encyclopedia":
    print(char.upper())

E
N
C
Y
C
L
O
P
E
D
I
A

In [50]:
myList.reverse()
print(myList)

['Midha', 'mariam', 'maaz', 'hasham']

# pass, break, continue:

In [60]:
for a in range(1,11):
    if a%3==0:
        break
    print(a)

1
2

In [64]:
friends = ["a","b","c","d","e","f","g"]
for friend in friends:
    if friend!="e":
        print("continue and enjoy party")
    else:
        print("party is over")

continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party
party is over

In [66]:
for friend in friends:
    if friend=="e":
        continue
    else:
        print("party on "+friend+" has arrived")

party on a has arrived
party on b has arrived
party on c has arrived
party on d has arrived
party on f has arrived
party on g has arrived

In [70]:
for a in range(10):
    pass # where we want to leave the body empty we use pass

In [72]:
num = int(input("Enter any number:"))
for mul in range(1,11):
    print(str(num)+" x "+str(mul)+" = "+str(num*mul))

Enter any number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Nested For Loop:

In [78]:
for tables in range(2,10,2):
    for num in range(1,11):
        print(f"{tables} x {num} = {tables*num}")
    print("\n\n")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20



4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40



6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60



8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [92]:
first_names=["Hasham","Maaz","Midha","Mariam"]
last_names=["Khalid","Shah","Tahir","Naz"]
fullnames=[]
for first in first_names:
    for last in last_names:
        fullnames.append(first+" "+last)
print(fullnames)

['Hasham Khalid', 'Hasham Shah', 'Hasham Tahir', 'Hasham Naz', 'Maaz Khalid', 'Maaz Shah', 'Maaz Tahir', 'Maaz Naz', 'Midha Khalid', 'Midha Shah', 'Midha Tahir', 'Midha Naz', 'Mariam Khalid', 'Mariam Shah', 'Mariam Tahir', 'Mariam Naz']

# Dictionary

In [3]:
myDic = {}

In [4]:
print(len(myDic))
print(type(myDic))
#dictionary = {key : value}
myDic = {"name":"Hasham","age":17,"Degree":"BE"}
print(myDic["name"],myDic["age"])
myDic.get("Degree")
# key and value can be of any data type

0
<class 'dict'>
Hasham 17

'BE'

In [5]:
''' built ins for the list 
append
remove 
pop
del
sort
copy
clear
count
index
insert
reverse'''
                        
'''built ins for tuples
Method   Description
count()  Returns the number of times a specified value occurs in a tuple
index()  Searches the tuple for a specified value and returns the position of where it was found'''

'built ins for tuples\nMethod   Description\ncount()  Returns the number of times a specified value occurs in a tuple\nindex()  Searches the tuple for a specified value and returns the position of where it was found'

In [6]:
## methods are values(), keys(), items()
# using items
for key,value in myDic.items(): # key goes in first variable and value goes in second variable
    print(f"{key} = {value}")

name = Hasham
age = 17
Degree = BE

In [7]:
#using keys 
for key in myDic.keys():
    print(f"{key} = {myDic[key]}")

name = Hasham
age = 17
Degree = BE

In [8]:
#using values 
for value in myDic.values():
    print(f"{value}")

Hasham
17
BE

In [9]:
len(myDic)

3

In [10]:
# the function of list,tuples,dictionaries is to hold multiple values in a single variable

# LIST IN LIST

In [37]:
a = [11,22,33,44,55]
b = [66,77,88,99,100]
c = ["apple","orange",a,b,[15,16,17]]
print(c)
print(c[3])
print(c[3][2]) # the second index is for the inner list in the 'c' list 
print(c[3][1:])
# we can also delete any member using this method 
c[2].remove(44)

['apple', 'orange', [11, 22, 33, 44, 55], [66, 77, 88, 99, 100], [15, 16, 17]]
[66, 77, 88, 99, 100]
88
[77, 88, 99, 100]

 -Dictionary in List
 
 -list in Dictionary
 
 -tuple in Dictionary
 
 -tuple in Tuple
 
 -tuple in list
 
 -list in tuple 
 
 -Dictionary in Dictionary 
 
 -Dictionary in Tuple

In [39]:
aa = [11,22,33,myDic]
aa

[11, 22, 33, {'name': 'Hasham', 'age': 17, 'Degree': 'BE'}]

# DYS ==> "Tuples in list"

In [6]:
tup=("Hasham","Khalid","Imran")
lst=["Afnan","Hassan",tup]
print(lst[2][1])
diction={"name":"Fasih","technology":"Software"}
lst.append(diction)
print(lst)
lst[3]["grade"]="A"
print(lst)

Khalid
['Afnan', 'Hassan', ('Hasham', 'Khalid', 'Imran'), {'name': 'Fasih', 'technology': 'Software'}]
['Afnan', 'Hassan', ('Hasham', 'Khalid', 'Imran'), {'name': 'Fasih', 'technology': 'Software', 'grade': 'A'}]

In [40]:
myDic["numbers"]=a

In [41]:
print(myDic)

{'name': 'Hasham', 'age': 17, 'Degree': 'BE', 'numbers': [11, 22, 33, 55]}

In [42]:
myDic["numbers"].remove(22)
print(myDic)

{'name': 'Hasham', 'age': 17, 'Degree': 'BE', 'numbers': [11, 33, 55]}

In [43]:
qq = {"knowledge":myDic,"Secondary":"true"}

In [44]:
print(qq)

{'knowledge': {'name': 'Hasham', 'age': 17, 'Degree': 'BE', 'numbers': [11, 33, 55]}, 'Secondary': 'true'}

In [45]:
qq["knowledge"]['numbers'].remove(33)

In [46]:
print(qq)

{'knowledge': {'name': 'Hasham', 'age': 17, 'Degree': 'BE', 'numbers': [11, 55]}, 'Secondary': 'true'}

In [48]:
tt = {"name" : "Hasham","age":20,"name":"Midha"}
print(tt)
#it will over write

{'name': 'Midha', 'age': 20}

In [49]:
tt.pop("age")

20

In [50]:
print(tt)

{'name': 'Midha'}

In [52]:
tt['hello']="python"
print(tt)

{'name': 'Midha', 'hello': 'python'}

# DYS ==> all data structures and their functions

In [15]:
x=-7
while x<3:
    print("what the flux !! :P")
    x+=1

what the flux !! :P
what the flux !! :P
what the flux !! :P
what the flux !! :P
what the flux !! :P
what the flux !! :P
what the flux !! :P
what the flux !! :P
what the flux !! :P
what the flux !! :P