In [ ]:
print(36/(4*(7-4)))
# 7-4 = 3
# 3*4 = 12
# 36/12 = 3

In [ ]:
print(36/4*(7-4))
# 7-4 = 3
# 36/4 = 9
# 9*3 = 27

In [ ]:
print(4 + 3 % 5)
# here the remainder will be 3 
# then 4 + 3 = 7

In [ ]:
a = int(input("A = "))
b = int(input("B = "))
result = a % b // a
print("Answer : ",result)

In [ ]:
x = int(43.55+2/2)
print(x)

In [ ]:
print('{0:.2}'.format(1/3))

In [ ]:
name = "Hasham"
age = 17
percentage = (457/550)*100
print("my name is {0} and my age is {1} and my FSC percentage was {2:.4} %".format(name,age,percentage))
print("my name is {0} and my age is {1} and my FSC percentage was {2:.2f} %".format(name,age,percentage))

In [ ]:
print(f"my name is {name} and my age is {age} and my percentage is {percentage:.4}")

In [ ]:
if (9 < 0) and (0 < -9): # false && false == false
    print("hello")
elif (9 > 0) or False:  # true || false == true
    print("good") 
else: 
    print("bad")

In [ ]:
print(not(10<20) and not(10>30))  # !(true) and !(false) == false and true == false

In [ ]:
hello = list("hello")
print(hello)
hello_copy = hello.copy()

In [ ]:
single_hello = list(["hello"])
print(single_hello)

In [ ]:
numbers = list([1,2,3,4])
print(numbers)

In [ ]:
print(len(hello))

In [ ]:
#         0    1    2    3 
list1 = [2445,133,12454,123]
#        -4   -3   -2   -1 
print(max(list1))

In [ ]:
import random
random.shuffle(hello_copy)
print(hello_copy)

In [ ]:
print(list1[0])
print(list1[:2])
print(list1[-4:-2])

In [ ]:
new = list1 * 2
print(new)

In [ ]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'
sum = 0
names = (names1, names2, names3)
# formed into a tuple 
for ls in names:
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

In [ ]:
list2 = [0.5 * x for x in range(0, 4)]
print(list2)

In [ ]:
list3 = []
for x in range(0,4):
    list3.append(x*0.5)
print(list3)

In [ ]:
list1 = [11,2,27]
list2 = [11,3,23]
# checks the first unequal member 
print(list1 < list2)

In [ ]:
name = ['amir','shawn','Oestred']
if 'AmIr'.lower() in name:
    print(True)
else:
    print(False)

In [ ]:
numbers = [1,2,3,4]
numbers.append([5,6,7,8])
print(len(numbers))

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
print(len(list1 + list2))
print(list1+list2) # list concatenation

In [ ]:
a = [1,2,3]
b = a.append(4)
print(a)
print(b)

In [ ]:
b = a.copy()
c = a 
print(b is a)
print(c is a)

In [ ]:
a=[13,56,17] 
a.append([87]) # parameter takes a member
a.extend([45,67]) # parameter takes a list
print(a)

# output = [13,56,17,[87],45,67]

In [ ]:
a=list((45,))*4 
print((45)*4) 
print(a)

# List Comprehension

In [ ]:
List = [1,2,3,4]
new_list = []
# new list should contain the members which are squares of List's members
for each in List:
    new_list.append(each**2)
print(new_list)

In [ ]:
lcomp = [i**2 for i in List]
print(lcomp)

In [ ]:
ranger = [x/5 for x in range(10)]
print(ranger)

In [ ]:
bestie = {
    "name" : "Midha",
    'age' : 20,
    'university' : "NED",
}
besties = [v for v in bestie.values()]
print(besties)

             list_name = [item_to_be_inserted      iterator           conditions]

In [ ]:
# Even number list

even_number = [n for n in range(11) if n%2==0]
print(even_number)

In [ ]:
itera = list([45]*4)
print(type(itera))
print(itera)

In [ ]:
stringer_broke = list("HASHAM")
stringer_broke_alternate = list(("HASHAM"))
stringer = list(("HASHAM",))
stringer_alternate = list(["HASHAM"])
print(stringer_broke)
print(stringer)
print(stringer_alternate)

number = list((45,))
number_alternate = list([45])
print(number)
print(number_alternate)

In [ ]:
lister = list((45,36)*4)
print(lister)

In [ ]:
bestie1 = "MIDHA"
bestie2 = "MIDHA"

# print(id(bestie1))
# print(id(bestie2))

print(bestie1 is bestie2) # as they are pointing to the same location

- The is keyword is used to test if two variables refer to the same object.
- The test returns True if the two objects are the same object.
- The test returns False if they are not the same object, even if the two objects are 100% equal.
- Use the == operator to test if two variables are equal.

In [ ]:
a = 7
b = 2
print(hex(id(a)))
print(hex(id(b)))
c = 1
print(hex(id(c)))
print("-------------------------")
a = 5
print(a,hex(id(a)))
print(c,hex(id(c)))
print(hex(id(1)))

In [ ]:
list1 = [1,2,3] 
list2 = list1
list3 = list1.copy()
list4 = [1,2,3]

print(hex(id(list1)))
print(hex(id(list2)))
print(hex(id(list3)))
print(hex(id(list4)))
print(hex(id(list1[0])))

In [ ]:
print(list1 is list4)
print(list1[0] is list4[0])

In [ ]:
string1 = "MIDHA" 
string2 = "MIDHA" 
print(string1 is string2)

In [ ]:
t=list((32.00,))
[round((x-32)*5/9) for x in t]

In [ ]:
output = [j for i in range(2,8) for j in range(i*2, 50, i)]
output.sort()
# output = set(output)
print(output)

In [ ]:
for i in range(9):
    print(i*"*")
for j in range(9,0,-1):
    print(j*"*")

In [ ]:
[print(i*"*") for i in range(9)]
[print(j*"*") for j in range(9, 0, -1)]

In [ ]:
class Human():
    def __init__(this,name,age):
        this.name = name
        this.age = age
        print(hex(id(name)))
        print(hex(id(this.name)))
        
    def printer(this):
        print(this.name+" "+str(this.age))

name = "Ali"
ali = Human(name,17)
print(hex(id(name)))
print("")
ahsan = Human("Ahsan",22)
print("")
aslam = Human("Aslam",33)
print("")
del(ali)
hasham = Human("Ali",17)
# self is not a keyword

In [ ]:
def foo():
    try:
        return 1
    except Exception as e:
        print("Exception")
    finally:
        return 2
k = foo()
print(k)

def fo():
    try:
        print(1)
    finally:
        print(2) 
fo()

In [ ]:
class Vote():
    def __init__(this,age):
        if age < 18:
            raise Errors("Your age is not suitable")
        this.age = age

In [ ]:
try:
    hasham = Vote(17)
except Exception as e:
    print(e)

In [ ]:
class Errors(Exception):
    pass

In [ ]:
# hasham = Vote(16)

---------------------------------------------------------------------------
Errors                                    Traceback (most recent call last)
<ipython-input-52-d5b9f5c2b921> in <module>
----> 1 hasham = Vote(16)

<ipython-input-49-f90ff4e92fc0> in __init__(this, age)
      2     def __init__(this,age):
      3         if age < 18:
----> 4             raise Errors("Your age is not suitable")
      5         this.age = age

Errors: Your age is not suitable

In [ ]:
def name(n):
    for each in n:
        if each == 'x':
            raise Exception("X alphabet not allowed")
    return n

In [ ]:
try:
    print(name("Maaz"))
except Exception as e:
    print(e)

In [ ]:
print("id for 1 :", id(2))
x = 1
y = 1
print("id for x :", id(x))
print("id for y :", id(y))
list = [4, 2, 1, 3]
print("id for l :", id(list[2]))

In [2]:
#strings
print("I don't want to eat")
print('He said,"Yeah I know this thing"')
print('He said,"Yeah,I don\'t know"')
print("hello\t"*5) #multiply string 5 times and prints 5 hello 

#String Manipulation:

#String Concatenation
x = 7 
y = 3
print("This is the number " + str(x))
print("This is the sum of two numbers " + str(x+y))
print("this is the number",x) 
#Other way
x = "apples"
y = "lemons"
print("In the basket are %s and %s" %(x,y)) 
name = "midha"
print("In the room is %s" %name)
#Another way

fname = "John"
lname = "Son"
age = 20
print("{} {} is {} years old".format(fname,lname,age))

#Similarly
x = 7.89973
y = 383897
print("The x is : {0:.5} and the y is: {1:4}".format(x,y))

#using the join method 
print("".join(['I',' study',' in', ' Ned',' University']))

#String Split
print("Hello:Nick".split(":")) #it splits w.r.t to given colon(separator) and returns in a list 
print("My name is " + "Hello:Midx:World".split(":")[1]) #here we want 1st index of list after splitting

print("I am Midha".split()) #splits at space
print("I , study , in , Ned".split(", ")) #splits at ,

#max split
word = 'geeks, for, geeks, midx'
print(word.split(', ',0))
print(word.split(', ',4))
print(word.split(', ',1))
print(word.split(', ',5))
print(word.split(', ',10))

I don't want to eat
He said,"Yeah I know this thing"
He said,"Yeah,I don't know"
hello	hello	hello	hello	hello
This is the number 7
This is the sum of two numbers 10
this is the number 7
In the basket are apples and lemons
In the room is midha
John Son is 20 years old
The x is : 7.8997 and the y is: 383897
I study in Ned University
['Hello', 'Nick']
My name is Midx
['I', 'am', 'Midha']
['I ', 'study ', 'in ', 'Ned']
['geeks, for, geeks, midx']
['geeks', 'for', 'geeks', 'midx']
['geeks', 'for, geeks, midx']
['geeks', 'for', 'geeks', 'midx']
['geeks', 'for', 'geeks', 'midx']

In [3]:
import math
x = round(4.568) #if no round value is give  it will round to whole no. ie 5
print(x)
x = pow(4,2,3) #4**2%3
print(x)
y = all([1,2,3,4]) #all returns true if element is not zero
print(y)
y =all([0,1])
print(y)
c = abs(-5) #absolute value 
print(c)
v = abs(5)
print(v)
#sum(v,c,y) <--- yeh error hai coz it takes in list argument 
print(sum([v,c,y]))
we = min(max(False,-3,-4), 2,7)
#max(0,-3,-4) so min(0,2,7) ans is 0 --False
print(we)
cv = complex(1+2+3j+6j)
print(cv)
vc = complex() #ya complex(0)
print(vc) #0j 
def f(x, y, z): return x + y + z
f(2, 30, 400)

5
1
True
False
5
5
10
False
(3+9j)
0j

432

In [4]:
print('''There once was a movie star icon
who preferred to sleep with the light on.
They learned how to code
a device that sure glowed
and lit up the night using Python!
''')

####
print("I have %d cats" % 6)
print("I have %3d cats" % 6) #3 spaces
print("I have %03d cats" % 6) #006
print("I have %f cats" % 6) #in float (after point 6 digits by default)
print("I have %.2f cats" % 6) 

####
total = 5+9-10+89\
        + 39 + 20  #jab space kam pare to backslash laga kr new line par likh skty hn
print(total)

####
#LOAN CALCULATOR
# L = float(input("Enter the loan: "))
# i = float(input("Enter the interest rate: "))/100
# n = float(input("Enter the number of years for the loan: "))
# M = L(i(i+1)n) / ((1+i)n-1)
# print(M)

####
_gain = 8
print(_gain) #variable name can start with underscore , not with other characters and digits

####
# camelCasing or PascalCasing

####
message='Hello world' 
print(message.swapcase()) #to reverse captial with small and vice versa
print(message.find('world')) 
print(message.count('o'))
print(message.capitalize()) #first alphabet capital
print(message.title()) #all the title words are capital
print(message.replace('Hello','Hi'))

####
name="midha"
avg = 678.988006
print("%20s your avg score is: %4.1f" %(name,avg))

print("{0} is {1}".format(name,avg))

There once was a movie star icon
who preferred to sleep with the light on.
They learned how to code
a device that sure glowed
and lit up the night using Python!

I have 6 cats
I have   6 cats
I have 006 cats
I have 6.000000 cats
I have 6.00 cats
152
8
hELLO WORLD
6
2
Hello world
Hello World
Hi world
               midha your avg score is: 679.0
midha is 678.988006

In [5]:
my_dict = {
    "Name"  : "Midha",
    "Fname" : "Tahir",
    "University": "NED",
}

#Accessing dictionary 
print(my_dict["Name"])
print(my_dict.get("Fname"))

#Changing Values
my_dict["Fname"] = "Khan"
print(my_dict)

#Looping through a dictionary 
for x in my_dict:
    print(x) 

for k in my_dict.keys(): #looping through keys
    print(k)

for v in my_dict.values(): #looping through values
    print(v)

for k,v in my_dict.items(): #looping through both keys and values
    print(k + ":" + v)

#Check if key exists 
if "Fname" in my_dict:
    print(my_dict["Fname"])

#Length of dictionary
print(len(my_dict))

#Adding Item
my_dict["Star"] = "Taurus"
print(my_dict)

#Remove Item
z = my_dict.pop("Star")
print(z) #it pops the item of dictionary and returns value
print(my_dict)
del my_dict["University"] #we can also delete whole dictionary del my_dict , my_dict.clear()
print(my_dict)

this_dict = my_dict #It will give reference , and changes made in my_dict will change this_dict and vice versa
this_dict["Fname"] = "Tahir"
print(my_dict)

that_dict = my_dict.copy()
that_dict["Fname"] = "Khan" #or we can use that_dict = dict(my_dict) -->> these both will not pass reference
print(my_dict)

Midha
Tahir
{'Name': 'Midha', 'Fname': 'Khan', 'University': 'NED'}
Name
Fname
University
Name
Fname
University
Midha
Khan
NED
Name:Midha
Fname:Khan
University:NED
Khan
3
{'Name': 'Midha', 'Fname': 'Khan', 'University': 'NED', 'Star': 'Taurus'}
Taurus
{'Name': 'Midha', 'Fname': 'Khan', 'University': 'NED'}
{'Name': 'Midha', 'Fname': 'Khan'}
{'Name': 'Midha', 'Fname': 'Tahir'}
{'Name': 'Midha', 'Fname': 'Tahir'}